name: autofix.ci

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - 'scripts/**'

permissions:
  contents: read

jobs:
  autofix:
    if: "!startsWith(github.event.pull_request.title, 'renovate/')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: pnpm

      - run: pnpm install --frozen-lockfile
      - run: pnpm run lint:fix

      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
